*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
    color:#777;
}
header{
    text-align: center;
    margin: 0px;
    font-size: 2em;
    font-family: Poppins;
}
h2{
    text-align: left;
    margin: 0px;
    font-size: 1em;
    font-family: Poppins;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,0.3)
}
.nav{
    margin: 0;
}
.nav a{
    display: inline-block;
    padding: 1em;
    color: #777;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3)
}
footer{
    text-align: center;
}