@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
body {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #444; /* Added background color to nav */
}

.nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #575757;
}

.nav .btn {
    background-color: #ff5722;
    border-radius: 4px;
}

.container-header{
    font-family: 'DMSerif Display';
    text-align: left;
    margin: 1em;
    max-width: 900px;
}
.carousell {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 700px;
}

.carousell img {
  width: 100%;
  height: auto;
  display: block;
}

.carousell ul {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  list-style: none;
}

.carousell .slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousell-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  font-size: 2em;
  z-index: 1;
}

.carousell-button.previous {
  left: 10px;
}

.carousell-button.next {
  right: 10px;
}
