@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
    color:#777;
}
header{
    text-align: center;
    margin: 0px;
    font-size: 2em;
    font-family: Poppins;
}
h2{
    text-align: center;
    margin: 0px;
    font-size: 1em;
    font-family: Poppins;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav{
    margin: 0;
}
.nav a{
    display: inline-block;
    padding: 1em;
    color: #777;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3)
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,0.3)
}
.nav a{
    padding: 1%;
}
.container-header{
    font-family: 'DMSerif Display';
    text-align: left;
    margin: 1em;
    max-width: 900px;
}
.carousell {
  position: relative;
  width: 95%; /* Adjust this value as needed to make it wider */
  margin: 0 auto; /* Center the carousel */
  overflow: hidden;
  border: 1px solid #ccc; /* Optional: Add a border for better visualization */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.carousell ul {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousell .slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousell-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Optional: Make the buttons round */
}

.carousell-button.previous {
  left: 10px;
}

.carousell-button.next {
  right: 10px;
}
